.wrap {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 854px;
    height: 620px;
    .loginForm {
      width: 560px;
      .loginFormButton {
        width: 100%;
      }
    }
    .buttonBox {
      float: right;
      margin-left: 24.2%;
      .loginFormForgot {
        margin-right: 10px;
        cursor: pointer;
      }
      .register {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
