.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 430px;
  height: 520px;
  margin: 0 auto;
  .loginTitle{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loginForm {
      width: 370px;
      .passwordItem {
        height: 81.5px;
        margin-bottom: 0px;
      }
      .loginFormButton {
        width: 100%;
      }
      .failTips {
        color: #f5222d;
      }
    }
    .buttonBox {
      // float: right;
      // margin-left: 24.2%;
      width: 370px;
      .automaticLogon {
        float: left;
      }
      .loginFormForgot {
        cursor: pointer;
      }
      .register {
        cursor: pointer;
      }
      .buttonItem{
        margin-left: 10px;
        float: right;
      }
    }
  }
}
