.loginForm {
  max-width: 500px;
  .inputCode{
    width: 200px;
    margin-right: 10px;
  }
  .resetButton{
    width: 312px;
    margin-left: 104px;
  }
  .loginFormForgot {
    float: right;
    cursor: pointer;
  }
  .loginFormButton {
    width: 100%;
  }
}
