body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, input, select, textarea, div, table, td, th, tr, dt, dd, dl, a {
  margin: 0;
  padding: 0;
}
.wrap {
  .top {
    width: 100%;
    background: linear-gradient(to right, rgb(79, 79, 82), rgb(56, 54, 57));
    height: 50px;
    color: rgb(133,132,133);
    // position: relative;
    .topLeft {
      padding-top: 8px;
      float: left;
      font-size: 18px;
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
    }
    .topRight {
      // position: absolute;
      float: right;
      -webkit-app-region: no-drag;
      i {
        padding-top: 8px;
        padding-right: 10px;
        svg{
          height: 25px;
          width: 25px;
        }
        :hover {
          background: #dddddd;
        }
      }
    }
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }
  .item{
    width: 80%;
    margin: 0 auto;
  }
}
