.wrap {
  position: relative;

  .header {
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-left: -6px;

    // overflow: hidden;
    .crumb {
      margin: 0 auto;
      width: 1000px;
      font-size: 16px;
      .back{
        cursor: pointer;
      }
      .buy{
        color: gray;
      }
    }
    
  }
  .detail{
    margin: 0 auto;
    width: 1000px;
    .panel_hd{
      min-height: 75px;
      .total{
        padding: 20px 0 15px;
        font-size: 28px;
        font-weight: 700;
        color: #3c3c3c;
      }
    }
    .panel_bd{
      background-color: #fff;
      border: 1px solid #e0e0e0;
      min-height: 314px;
      margin-bottom: 0;
      padding: 20px;
      .gcell{
        position: relative;
        max-height: 104px;
        transition: background-color .2s linear;
        border-bottom: 1px solid #e4e4e4;
        // margin: 0 20px;
        margin-bottom: 20px;
        display: flex;
      }
    }
    .operate{
      width: 1000px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #e0e0e0;
      z-index: 50;
      display: flex;
      .operate_info{
        padding: 20px 30px 16px;
        overflow: hidden;
        min-height: 68px;
        display: flex;
        margin-left: 10px;
        line-height: 32px;
        flex: 1;
        .info{
          display: flex;
          .avatar{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            background-size: 100% 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .name{
            line-height: 32px;
            font-size: 15px;
            font-weight: 700;
            margin-right: 10px;
          }
        }
      }
      .pay{
        font-size: 14px;
        color: #757575;
        padding: 20px 30px 16px;
        display: flex;
        // align-items: center;
        .price_tip{
          // display: block;
          // vertical-align: middle;
          padding: 0 20px 0 0;
          margin: -5px 0 0;
          display: flex;
          align-items: center;
          
        }
        
        .button{
          :global{
            .ant-btn{
              min-width: 135px;
              height: 36px;
              line-height: 36px;
              background-color: #ffca28;
              color: #000;
              border-radius: 2px;
              border-color: #ffca28;
              font-weight: 700;
              font-size: 15px;
              overflow: visible;
              transition: all .15s linear;
            }
          }
        }
      }
    }
  }
}
.price{
  min-height: 27px;
  font-size: 0;
  font-weight: 700;
  color: #ff6f00;
  .mint{
    font-size: 16px;
  }
  .value{
    font-size: 24px;
  }
}
// :global{
//   .ant-checkbox-wrapper{
//     >span:nth-child(2) {   
//       flex: 1;
//       display: flex;
      
//     }
//   }
// }
i{
  margin: auto;
  width: 18px;
  height: 18px;
  svg{
    width: 18px;
    height: 18px;
  }
}

.fromWrap{
  height: 100px;
  input{
    cursor: pointer;
    display: block !important;
    float: right;
    min-width: 135px;
    height: 36px;
    line-height: 36px;
    background-color: #ffca28;
    color: #000;
    border-radius: 2px;
    border-color: #ffca28;
    font-weight: 700;
    font-size: 15px;
  }
}