.wrap {
    float: left;
    width: 487px;
    margin-top: 24px;
    height: 162px;
    border-radius: 5px;
    background: #f3f6fb;
    cursor: pointer;
    transition: 0.3s linear all;
    &:hover{
      background-color: rgb(244, 244, 244);
      box-shadow:0px 5px 5px #c8c8c8;
      transform: scale(1.05);
    }
  .img{
    float: left;
    width: 248px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .content{
    width: 225px;
    float: left;
    .title{
      font-size: 18px;
      line-height: 20px;
      color: #1b1b1b;
      font-weight: bold;
      padding: 0 20px;
      padding-top: 18px;
    }
    .subtitle{
      font-size: 12px;
      line-height: 18px;
      color: #1b1b1b;
      padding: 7px 20px;
    }
    .time{
      height: 20px;
      padding: 8px 20px;
      font-size: 12px;
      overflow: hidden;
      line-height: 20px;
      padding-top: 0px;
      padding-bottom: 28px;
    }
    .sub{
      border-top: 1px solid #e5e5e5;
      /* padding-top: 12px; */
      height: 57px;
      line-height: 57px;
      .free{
        max-width: 116px;
        color: #757575;
        font-size: 16px;
        margin-left: 20px;
        float: left;
        height: 45px;
        text-align: left;
        transition: all .2s linear;
        overflow: hidden;
      }
      .price1{
        max-width: 116px;
        color: #f04029;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        float: left;
        height: 45px;
        text-align: left;
        transition: all .2s linear;
        overflow: hidden;
      }
      // .price2{
      //   max-width: 65px;
      //   color: #535353;
      //   font-size: 12px;
      //   text-decoration: line-through;
      //   margin-left: 15px;
      //   line-height: 57px;
      // }
      // .button{
      //   width: 50px;
      //   height: 27px;
      //   text-align: center;
      //   line-height: 23px;
      //   color: #fff;
      //   display: block;
      //   float: right;
      //   font-size: 14px;
      //   border-radius: 50px;
      //   background: #f04029;
      //   margin-top: 16px;
      //   margin-right: 24px;
      // }
    }
  }
}

$total: 5;
@for $i from 1 to $total {
  .wrap:nth-child(#{$i}) {
    margin-right: if($i % 2 == 1, 0px, 24px);
  }
}

