.wrap {
  width: 100%;
  margin: 0 auto;
  .loginHeaderBox {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    width: 100%;
    background: linear-gradient(to right, rgb(79,79,82), rgb(56,54,57));
    .top{
      -webkit-app-region: drag;
      height: 30px;
      float: right;
      background: rgb(56,54,57);
      .topRight{
        height: 30px;
        -webkit-app-region: no-drag;
        .minus,.close{
          line-height: 30px;
          margin-right: 10px;
          color: rgb(184, 189, 186);
          :hover{
            background: #f8f8f8;
          }
        }
      }
    }
    .backWarper {
      line-height: 50px;
      color: cornsilk;
      margin-left: 25px;
      .back {
        -webkit-app-region: no-drag;
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        cursor: pointer;
      }
      .title {
        font-size: 24px;
      }
    }
  }
}
