.wrap {
  width: 1000px; 
  margin: 0 auto;
  .rotation{
    margin-top: 20px;
    min-width: 1000px;
  }
  .recommend{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
  .prePurchase{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
  .masterpiece {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
}
