body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, input, select, textarea, div, table, td, th, tr, dt, dd, dl, a {
  margin: 0;
  padding: 0;
}
.wrap {
  min-width: 1000px; 
  .rotation{
    min-width: 1000px;
  }
  .recommend{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
  .prePurchase{
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
  .masterpiece {
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
  }
}
