.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 3px;
  }
}
