.wrap {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 854px;
    height: 620px;
    .loginForm {
      width: 560px;
      margin-bottom: 23px;
      .inputCode{
        width: 61%;
        margin-right: 20px;
      }
      .getCodeButton{
        width: 33%;
      }
      .resetButton {
        margin-left: 20.7%;
        width: 62.5%;
      }
    }
    .buttonBox {
      float: right;
      margin-left: 24.2%;
      .loginForm {
        margin-right: 10px;
        cursor: pointer;
      }
      .register {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
